<template>
  <div class="wrapper">
    <input type="text"
           v-model="boundValue"
           @blur="cancel"
           @keyup.enter="save"
           :class="{'no-borders': noBorders}"
           ref="input"
    />
    <div class="actions" v-if="boundValue !== value">
      <button class="save" @click.self="save" @mousedown.prevent>save</button>
      <button class="cancel" @click="cancel">cancel</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'CommitInput',
  props: {
    value: {
      type: String as PropType<string>,
      required: true,
    },
    noBorders: {
      type: Boolean,
      default: false,
    },
    autoFocus: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    boundValue: '',
  }),
  methods: {
    cancel(): void {
      this.boundValue = this.value;
      this.$emit('canceled');
    },
    save(): void {
      if (this.boundValue !== this.value) {
        this.$emit('changed', this.boundValue);
      }
    },
  },
  created(): void {
    this.boundValue = this.value;
  },
  mounted() {
    if (this.autoFocus) {
      (this.$refs.input as HTMLInputElement).focus();
    }
  },
});
</script>

<style scoped>
.wrapper {
  position: relative;
  display: flex;
}
input {
  width: 100%;
  margin: 0;
  padding: 3px 5px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid lightgray;
  outline: none;
}
.actions {
  position: absolute;
  display: flex;
  top: 100%;
  right: 0;
}
.no-borders {
  padding: 0;
  border: none;
}
</style>
