<template>
  <div>
    <table>
      <thead>
      <tr>
        <template v-for="(value, key) of titles" :key="key">
          <th>
            <div class="head">
              <div>{{value}}</div>
              <div class="sort"
                   :class="{ asc: sorted === `asc_${key}`, desc: sorted === `desc_${key}` }"
              >
                <div class="asc" @click="callSort(key, true)">▴</div>
                <div class="desc" @click="callSort(key, false)">▾</div>
              </div>
            </div>
          </th>
        </template>
      </tr>
      <tr>
        <template v-for="(value, key) of titles" :key="key">
          <td>
            <commit-input :value="filters[key]" @changed="updateFilters($event, key)"/>
          </td>
        </template>
      </tr>
      </thead>
      <tbody>
      <template v-for="[index, item] of paginatedItems" :key="index">
        <tr>
          <template v-for="(value, key) of item" :key="key">
            <td>
              <template v-if="editing === `${index}_${key}`">
                <commit-input :value="value"
                              :no-borders="true"
                              :auto-focus="true"
                              @changed="mutateItem(index, item, key, $event)"
                              @canceled="editing = ''"
                />
              </template>
              <template v-else>
                <div class="editable"
                     @click="editing = `${index}_${key}`"
                >{{value}}</div>
              </template>
            </td>
          </template>
        </tr>
      </template>
      </tbody>
    </table>
    <pagination :current="page" :max-pages="maxPages" @go-to="page = $event"/>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import CommitInput from '@/components/CommitInput.vue';
import Pagination from '@/components/Pagination.vue';

interface Data {
  [key: string]: string;
}

type LocalData = [number, Data];

export default defineComponent({
  name: 'DataTable',
  components: {
    CommitInput,
    Pagination,
  },
  props: {
    titles: {
      type: Object as PropType<Data>,
      required: true,
    },
    items: {
      type: Array as PropType<Data[]>,
      required: true,
    },
  },
  data: () => ({
    editing: '',
    sorted: '',
    page: 1,
    maxPages: 1,
    filters: {} as Data,
    localItems: [] as LocalData[],
  }),
  watch: {
    titles(): void {
      this.updateFilterNames();
    },
    items(): void {
      this.filter();
    },
  },
  computed: {
    paginatedItems(): LocalData[] {
      const from = (this.page - 1) * 10;
      return this.localItems.slice(from, from + 10);
    },
  },
  methods: {
    indexItems(items: Data[]): LocalData[] {
      return items.map((item: Data, i: number) => [i, item]);
    },
    updateFilterNames() {
      Object.keys(this.titles).forEach((key: string) => {
        this.filters[key] = this.filters[key] || '';
      });
    },
    sort(items: LocalData[], key: string, sortAsc: boolean): LocalData[] {
      const collator = new Intl.Collator(undefined, { numeric: true, sensitivity: 'base' });
      return ([...this.localItems]).sort(([, left], [, right]) => {
        if (sortAsc) {
          return collator.compare(left[key], right[key]);
        }
        return collator.compare(right[key], left[key]);
      });
    },
    filter(): void {
      let items = this.indexItems(this.items).filter(([, item]: LocalData): boolean => (
        Object.entries(this.filters).every(([key, value]: [string, string]): boolean => (
          !value || item[key].toString().toLowerCase().includes(value.toLowerCase())
        ))
      ));
      if (this.sorted) {
        const [dir, key] = this.sorted.split('_');
        items = this.sort(items, key, dir === 'asc');
      }
      this.maxPages = Math.ceil(items.length / 10) || 1;
      if (this.page > this.maxPages) {
        this.page = 1;
      }
      this.localItems = items;
    },
    callSort(key: string, sortAsc: boolean): void {
      this.localItems = this.sort(this.localItems, key, sortAsc);
      this.sorted = `${sortAsc ? 'asc' : 'desc'}_${key}`;
    },
    updateFilters(value: string, key: string): void {
      this.filters[key] = value;
      this.filter();
    },
    mutateItem(index: number, item: Data, key: string, value: string): void {
      this.$emit('mutate', index, { ...item, [key]: value });
    },
  },
  created(): void {
    this.updateFilterNames();
    this.localItems = this.indexItems(this.items);
  },
});
</script>

<style scoped lang="scss">
table {
  border-collapse: collapse;
  text-align: left;
}
table, th, td {
  border: 1px solid #ebeef5;
}
th, td {
  padding: 10px 12px;
}
.head {
  position: relative;
  display: flex;
}
.sort {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  transform: translate3d(0, -50%, 0);

  & div {
    line-height: .7em;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: deepskyblue;
    }
  }
  &.asc {
    & .asc {
      color: deepskyblue;
    }
  }
  &.desc {
    & .desc {
      color: deepskyblue;
    }
  }
}
.editable {
  cursor: text;
}
</style>
