<template>
  <div>
    <template v-for="page in maxPages" :key="page">
      <button @click="$emit('go-to', page)" :class="{active: page === current}">{{page}}</button>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Pagination',
  props: {
    current: {
      type: Number,
      required: true,
    },
    maxPages: {
      type: Number,
      required: true,
    },
  },
});
</script>

<style scoped lang="scss">
button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ebeef5;
}
button.active {
  background-color: deepskyblue;
}
</style>
