<template>
  <data-table :titles="titles" :items="items" @mutate="mutate"/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Item } from '@/store/types';
import { actions } from '@/store/constants';
import DataTable from './components/DataTable.vue';

export default defineComponent({
  name: 'App',
  components: {
    DataTable,
  },
  computed: {
    titles(): Item {
      return this.$store.getters.titles;
    },
    items(): Item[] {
      return this.$store.getters.items;
    },
  },
  methods: {
    mutate(index: number, item: Item): void {
      this.$store.dispatch(actions.MUTATE_ITEM, [index, item]);
    },
  },
  created() {
    this.$store.dispatch(actions.INITIATE_STORE);
  },
});
</script>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
</style>
